MATRIX_TOKEN=mct_QWERTYUIOPASDFGHJKLZXCVBNM1234567890A #Account token. You can get one from the cli or browser after creating an account
MATRIX_URL=https://matrix.domain.com #even if you have well-known as just domain.com, this needs the matrix prefix
MATRIX_BOT_ID=@wordle:example.com # also doesn't need to be wordle, whatever you want